{% set _title = block('title') %}
<!DOCTYPE html>
<html lang="{{app.session.locale}}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% trans from 'SonataAdminBundle' %}Admin{% endtrans %}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for label, uri in admin.breadcrumbs(action) %}
                        {% if not loop.first  %}
                            &gt;
                        {% endif %}
                        {{ label }}
                    {% endfor %}
                {% endif %}
            {% endif%}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('bundles/elaobootstrap/css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{asset('css/smoothness/jquery-ui-1.8.16.custom.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/elaobootstrap/css/main.css')}}">
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
            <script type="text/javascript" src="{{asset('js/jquery-ui-1.8.16.custom.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/sonataadmin/jquery/jquery.form.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/elaobootstrap/js/admin.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/elaobootstrap/js/bootstrap.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/elaobootstrap/js/common.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="topbar" data-dropdown="dropdown">
            <div class="topbar-inner">
                <div class="container">
                    {% block logo %}
                        <a href="{{ url('sonata_admin_dashboard') }}" class="brand">
                            <img src="{{ asset(admin_pool.titlelogo) }}"  />
                            {{ admin_pool.title }}
                        </a>
                    {% endblock %}

                    {% block menu %}
                        {{ knp_menu_render('admin', {'currentClass': 'active', 'ancestorClass': 'active'}) }}
                    {% endblock %}

                    {% block user %}
                    {% endblock %}
                </div>
            </div><!-- /topbar-inner -->
        </div>
        <div class="container">
            
            {% include "ElaoBootstrapBundle::_breadcrumb.html.twig" %}
            
            {% if _title is not empty or action is defined %}
                <div class="page-header">
                    <h1>
                        {% if _title is not empty %}
                            {{ _title|raw }}
                        {% elseif action is defined %}
                            {% for label, uri in admin.breadcrumbs(action) %}
                                {% if loop.last  %}
                                    {{ label }}
                                {% endif %}
                            {% endfor %}
                        {% endif%}
                    </h1>
                </div>
            {% endif%}
            
            {% include "ElaoBootstrapBundle::_flash.html.twig" %}
            
            {% block body %}
            {% endblock %}
        </div> 
    </body>
</html>
