{% extends base_template %}

{% block title %}{% trans from 'SonataAdminBundle' %}title_dashboard{% endtrans %}{% endblock%}
{% block h1 %}{% trans from 'SonataAdminBundle' %}title_dashboard{% endtrans %}{% endblock %}
{% block body %}

    <div id="dashboard">
        {% for group in groups %}
            <table class="bordered-table zebra-striped dashboard-item">
                <thead>
                    <tr>
                        <th colspan="2">{{ group.label|trans({}, 'SonataAdminBundle') }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for admin in group.items %}
                        <tr>
                            <td><a href="{{ admin.generateUrl('list')}}">{{ admin.label|trans({}, admin.translationdomain) }}</a></td>
                            <td>
                                {% if admin.hasroute('create') and admin.isGranted('CREATE') %}
                                    <a href="{{ admin.generateUrl('create')}}"><img src="{{ asset('bundles/sonataadmin/famfamfam/add.png') }}" /> {% trans from 'SonataAdminBundle' %}link_add{% endtrans %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}

    <script type="text/javascript" src="{{asset('/bundles/elaobootstrap/js/common.js')}}"></script>
{% endblock %}