{% extends base_template %}

{% block title %}{{admin.i18nPrefix ~ '.edit.title' | trans}}{% endblock %}

{% block h1 %}{{admin.i18nPrefix ~ '.edit.title' | trans}}{% endblock %}

{% block body %}

    {% if admin.id(object) %}
        {% set url = 'edit' %}
    {% else %}
        {% set url = 'create' %}
    {% endif %}

    {% if not admin.hasRoute(url)%}
        <div class="alert-message block-message error">
            <a class="close" href="#">×</a>
            <p>{{ "form_not_available"|trans({}, "SonataAdminBundle") }}</p>

            <div class="alert-actions">
                {% if admin.hasroute('list') and admin.isGranted('LIST')%}
                    <a href="{{ admin.generateUrl('list') }}" class="btn small">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a>
                {% endif %}
            </div>
        </div>
    {% else %}

        {% if form.vars.errors|length > 0 %}
            <div class="alert-message block-message error">
                <a class="close" href="#">×</a>
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="row">

            <form action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid}) }}" {{ form_enctype(form) }} method="POST">

                {% for name, form_group in admin.formgroups %}
                    <fieldset>
                        {% if name %}
                            <legend>
                                {{ name|trans({}, admin.translationdomain) }}
                                {% if form_group.collapsed %}
                                    <a href="" class="sonata-ba-collapsed">{% trans from 'SonataAdminBundle' %}link_expand{% endtrans %}</a>
                                {% endif %}
                            </legend>
                            <div class="sonata-ba-collapsed-fields">
                        {% endif %}

                                {% for field_name in form_group.fields %}
                                    {% if admin.formfielddescriptions[field_name] is defined %}
                                        {{ form_row(form[field_name])}}
                                    {% endif %}
                                {% endfor %}

                        {% if name %}
                            </div>
                        {% endif %}
                    </fieldset>
                {% endfor %}

                {{ form_rest(form) }}

                <div class="actions">
                    {% if app.request.isxmlhttprequest %}
                        {% if admin.id(object) %}
                            <input type="submit" name="btn_update" class="btn primary" value="{% trans from 'SonataAdminBundle' %}btn_update{% endtrans %}"/>
                        {% else %}
                            <input type="submit" name="btn_create" class="btn primary" value="{% trans from 'SonataAdminBundle' %}btn_create{% endtrans %}"/>
                        {% endif %}
                    {% else %}
                        {% if admin.id(object) %}
                            <input type="submit" name="btn_update_and_edit" class="btn primary" value="{% trans from 'SonataAdminBundle' %}btn_update_and_edit_again{% endtrans %}"/>
                            <input type="submit" name="btn_update_and_list" class="btn primary" value="{% trans from 'SonataAdminBundle' %}btn_update_and_return_to_list{% endtrans %}"/>

                            {% if admin.isGranted('DELETE') %}
                                <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn danger">{% trans from 'SonataAdminBundle' %}link_delete{% endtrans %}</a>
                            {% endif %}
                        {% else %}
                            <input type="submit" name="btn_create_and_edit" class="btn primary" value="{% trans from 'SonataAdminBundle' %}btn_create_and_edit_again{% endtrans %}"/>
                            <input type="submit" name="btn_create_and_create" class="btn primary" value="{% trans from 'SonataAdminBundle' %}btn_create_and_create_a_new_one{% endtrans %}"/>
                        {% endif %}
                    {% endif %}

                    {% if admin.hasroute('show') and admin.id(object) and admin.isGranted('VIEW') and admin.show|length > 0 %}
                        <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn">{% trans from 'SonataAdminBundle' %}link_action_show{% endtrans %}</a>
                    {% endif %}
                    {% if admin.hasroute('create') and admin.isGranted('CREATE')%}
                        <a href="{{ admin.generateUrl('create') }}" class="btn">{% trans from 'SonataAdminBundle' %}link_action_create{% endtrans %}</a>
                    {% endif %}
                    {% if admin.hasroute('list') and admin.isGranted('LIST')%}
                        <a href="{{ admin.generateUrl('list') }}" class="btn">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a>
                    {% endif %}
                </div>
            </form>

        </div>

    {% endif %}
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}
