{% extends base_template %}

{% block title %}{{admin.i18nPrefix ~ '.list.title' | trans}}{% endblock %}

{% block h1 %}{{admin.i18nPrefix ~ '.list.title' | trans}}{% endblock %}

{% block body %}

    {% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass': 'active', 'ancestorClass': 'active'}, 'list') }}{% endblock %}

    <div class="row">
        <div class="{% if admin.datagrid.filters %}span12{% else %}span16{% endif %}">
            {% if admin.datagrid.results|length > 0 %}

                {% set batchactions = admin.batchactions %}

                <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST" >
                    <table class="zebra-striped">
                        <thead>
                            <tr>
                                {% for field_description in admin.list.elements %}
                                    {% if field_description.getOption('code') == '_batch' and batchactions|length > 0%}
                                        <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                            <input type="checkbox" id="list_batch_checkbox" />
                                        </th>
                                    {% else %}
                                        {% set sortable = false %}
                                        {% if field_description.options.sortable is defined and field_description.options.sortable%}
                                            {% set sortable             = true %}
                                            {% set current              = admin.datagrid.values._sort_by == field_description.options.sortable %}
                                            {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                            {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}

                                            {% set sort_active_class    = '' %}
                                            {% if current %}
                                                {% set sort_active_class = sort_by == 'DESC' ? 'headerSortAsc' : 'headerSortDown' %}
                                            {% endif %}
                                        {% endif %}

                                        {% spaceless %}
                                            <th class="header-{{ field_description.type}} {% if sortable %}header {{ sort_active_class }}{% endif %}">
                                                {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}

                                                {% if field_description.options.name is defined %}
                                                    {{ field_description.options.name|trans({}, admin.translationdomain) }}
                                                {% else %}
                                                    {{ field_description.name|trans({}, admin.translationdomain) }}
                                                {% endif %}

                                                {% if sortable %}</a>{% endif %}
                                            </th>
                                        {% endspaceless %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in admin.datagrid.results %}
                                <tr>
                                    {% for field_description in admin.list.elements %}
                                        {{ object|render_list_element(field_description) }}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if admin.datagrid.pager.haveToPaginate() %}
                        <div class="pagination">
                            <ul>
                                <li class="prev {% if admin.datagrid.pager.page == admin.datagrid.pager.previouspage %}disabled{% endif %}">
                                    <a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.previouspage)) }}">{% trans from 'SonataAdminBundle' %}link_previous_pager{% endtrans %}</a>
                                </li>

                                {% for page in admin.datagrid.pager.getLinks(5) %}
                                    <li{% if page == admin.datagrid.pager.page %} class="active"{% endif %}>
                                        <a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a>
                                    </li>
                                {% endfor %}

                                <li class="next {% if admin.datagrid.pager.page != admin.datagrid.pager.nextpage %}disabled{% endif %}">
                                    <a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.nextpage)) }}">{% trans from 'SonataAdminBundle' %}link_next_pager{% endtrans %}</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}

                    <div class="well">

                        {% if batchactions|length > 0%}
                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                   $('#list_batch_checkbox').click(function(){
                                       $(this).closest('table').find("td input[type='checkbox']").attr('checked', $(this).is(':checked'));
                                   });
                                   $('.delete_link').click(function(e){
                                      if (!confirm('{% trans from 'SonataAdminBundle' %}confirm_msg{% endtrans %}')) e.preventDefault();
                                   });
                                });
                            </script>

                            <select name="action" class="span3">
                                {% for action, options in batchactions %}
                                    <option value="{{ action }}">{{ options.label }}</option>
                                {% endfor %}
                            </select>

                            <label>
                                <input type="checkbox" name="all_elements" id="execute_on_matching"  />
                                <span>{% trans from 'SonataAdminBundle' %}all_elements{% endtrans %}</span>
                            </label>
                            <input type="submit" class="btn" value="{% trans from 'SonataAdminBundle' %}btn_batch{% endtrans %}" />
                        {% endif %}

                        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
                            <a href="{{ admin.generateUrl('create') }}" class="btn primary">{% trans from 'SonataAdminBundle' %}link_action_create{% endtrans %}</a>
                        {% endif %}
                    </div>
                </form>

            {% else %}

                <div class="alert-message block-message warning">
                    <a class="close" href="#">×</a>
                    <p>{% trans from 'SonataAdminBundle' %}no_result{% endtrans %}</p>
                    {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
                        <div class="alert-actions">
                            <a href="{{ admin.generateUrl('create') }}" class="btn small">{% trans from 'SonataAdminBundle' %}link_action_create{% endtrans %}</a></li>
                        </div>
                    {% endif %}
                </div>

            {% endif %}
        </div>
        {% if admin.datagrid.filters %}

            <div class="span4">
                <form class="form-stacked form-filter" action="{{ admin.generateUrl('list') }}" method="GET">
                    {% for filter in admin.datagrid.filters %}
                        {{ form_row(form.getChild(filter.name)) }}
                    {% endfor %}

                    {{ form_rest(form) }}

                    <div class="actions">
                        <button class="btn small primary">{% trans from 'SonataAdminBundle' %}btn_filter{% endtrans %}</button>
                        <a href="{{ admin.generateUrl('list') }}" class="btn small">{% trans from 'SonataAdminBundle' %}link_reset_filter{% endtrans %}</a>
                    </div>

                </form>
            </div>

        {% endif %}
    </div>

{% endblock %}