{% extends "form_div_layout.html.twig" %}

{% block field_row %}
{% spaceless %}
    <div class="clearfix {% if errors|length > 0 %}errors{% endif %}">
        {% set help = attr.help|default(null) %}
        {{ form_label(form, label|default(null)) }}
        <div class="input">
            {{ form_widget(form, {'attr': attr|default(null)}) }}
            {{ form_errors(form) }}
            {% if help|default(null) %}
                <span class="help-block">{{help|trans|raw}}</span>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <span class="help-inline">
        {% for error in errors %}
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
        {% endfor %}
    </span>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block choice_widget %}
{% spaceless %}
    {% if expanded %}
            <ul class="inputs-list">
                {% for child in form %}
                    <li>
                        <label>
                            {{ form_widget(child) }}&nbsp;{{ form_label(child) }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
    {% else %}
        {{parent()}}
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block generic_label %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {{ label|trans }}
        {% if required %}
            <span class="required">*</span>
        {% endif %}
    </label>
{% endspaceless %}
{% endblock %}


{% block checkbox_label %}
    <span>{{ label }}</span>
{% endblock checkbox_label %}
 
{% block radio_label %}
    <span>{{ label }}</span>
{% endblock radio_label %}